.container {
    width: 70%;
    height: 200vh;
    margin: 2% auto;
    background-color:#ebebeb;
    border-radius: 50px;
    box-shadow: #0476d0 0px 0px 30px;
}

.conteudo h3 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration:underline;
    padding: 5%;
    color: #047bff;
    text-align: center;
    font-size: 30px;
}

.conteudo h4 {
    margin-top: 2px;
    color: #000000;
    text-align: center;
    font-size: 25px;
}

.conteudo img {
    width: 25%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 1px;
    border-radius: 50%;
    box-shadow: #0476d0 0px 0px 30px;
    transition: transform 0.1s ease-in-out;
}

.conteudo:hover img {
    transform: scale(1.1);
}

.sobremim h1 {
    color: #000000;
    text-align:left;
    font-size: 50px;
    margin: 20px;
    font-size: 15px;
}

.sobremim p {
    color: #000000;
    text-align: justify;
    margin: 20px;
    font-size: 15px;
}
.gostos h1 {
    color: #000000;
    text-align:left;
    font-size: 50px;
    margin: 20px;
    font-size: 15px;
}

.gostos p {
    color: #000000;
    text-align: justify;
    margin: 20px;
    font-size: 15px;
}

.info p {
    color: #000000;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    color: #047bff;
}

.language h1 {
    color: #000000;
    text-align:left;
    font-size: 50px;
    margin: 20px;
    font-size: 15px;
    padding-top: 8px;
}

.card1 {
    padding: 2rem;
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.card2 {
    padding: 5rem;
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.card1 .icon1 {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
}

.card1 .icon2 {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
}

.card1 .icon3 {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
}

.card1 .icon4 {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
}

.card2 .icon5 {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
}

.card2 .icon6 {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
}

.card2 .icon7 {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
}

.card2 .icon8 {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
}

.footer h4{
    margin: 1px;
    text-align: center;
}
