
.container {
    width: 30%;
    height: 80vh;
    margin: 5% auto;
    background-color:#ebebe8;
    border-radius: 50px;
}

.login img {
    width: 50%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}

.login h1 {
    color: #000000;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 30px;
}

.email p {
    color: #000000;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 30px;
}

.email input {
    font-family:'Courier New', Courier, monospace;
    width: 45%;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0px 10px;
    font-size: 20px;
}

.password p {
    color: #000000;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 30px;
}

.password input {
    font-family:'Courier New', Courier, monospace;
    width: 45%;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0px 10px;
    font-size: 20px;
}